@import url(style.css);

main .container .article-header{
    display: flex;
    gap: 8px;
    margin-top: 20px;
    margin-left: 35px;
}

.article-header .article-icon img{
    width: 32px;
    height: 32px;
}

.container .article-header .article-header-section{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.article-header .article-header-section .header-title{
    width: 404px;
    height: 33px;
    background-color: #EBF5FE;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #3A9DF1;
}

.article-header-section .header-title h1{
    font-weight: 700;
    font-size: 26px;
}

.article-header .article-header-section .header-subtitle{
    font-family: "Cabin", sans-serif;
}

.article-header .article-header-section .header-subtitle h2{
    font-weight: 400;
    font-size: 20px;
}

main .container .article-content{
    margin-top: 21px;
}

.container .article-content .article-content-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow:row wrap;
    gap: 20px;
    margin-left: 40px;
}

.article-content .article-content-section .article-card{
    width: 515px;
    height: 370px;
    background-color: #00000040;
    border: 1px solid black;
    display: inline-block;
    margin-top: 35px;
    margin-right: 15px;
    border-radius: 15px;
    position: relative;
}

.article-content .article-content-section #card-1{
    background-image: url("ChatGPT\ Image\ 25\ Mei\ 2025\,\ 03.58.54\ 2.png");
}

.article-content .article-content-section #card-2{
    background-image: url("ChatGPT\ Image\ 25\ Mei\ 2025\,\ 13.02.44\ 2.png");
}

.article-content .article-content-section #card-3{
    background-image: url("ChatGPT\ Image\ 25\ Mei\ 2025\,\ 20.11.39\ 1.png");
    background-size:cover;
}

.article-content .article-content-section #card-4{
    background-image: url("ChatGPT\ Image\ 25\ Mei\ 2025\,\ 20.03.57\ 1.png");
    background-size:cover;
}

.article-content-section .article-card .calendar-box{
    width: 118px;
    height: 94px;
    border: 1px solid #EBF5FE;
    position: absolute;
    left: 5%;
    top: 4%;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.article-card .calendar-box .calendar-month{
    width: 118px;
    height: 28px;
    background-color: #3A9DF1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calendar-box .calendar-month p{
    font-weight: 700;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffff;
}

.article-card .calendar-box .calendar-date{
    font-family:"Poller One", sans-serif;
    width: 118px;
    height: 66px;
    background-color: #ffff;
    color: #3A9DF1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.calendar-box .calendar-date p{
    font-weight: 400;
    font-size: 36px;
}

.article-content-section .article-card .article-text{
    position: absolute;
    top: 50%;
    color: #ffff;
}

.article-card .article-text .article-head{
    top: 0%;
    font-style: italic;
    margin-left: 22px;
    margin-right: 20px;
}

.article-text .article-head p{
    font-weight: 700;
    font-size: 22px;
}

.article-card .article-text .article-body{
    top: 0%;
    margin-left: 22px;
    margin-right: 20px;
    margin-top: 5px;
}

.article-content .article-content-section .read-more{
    position: absolute;
    top: 95%;
    left: 60%;
}

.article-content-section .read-more button{
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 167.5px;
    height: 40px;
    border-radius: 35px;
    border: 1px solid #ffff;
    background-color: #3A9DF1;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
}

.article-content .article-content-section #more-button{
    position: absolute;
    top: 120%;
    left: 60%;
}